Repository mikefritzsche/circleci-pathfiltering-test: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-server-workflow, run-web-portal-workflow

.circleci/config.yml:

# .circleci/config.yml
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  slack: circleci/slack@4.12.5

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            server/.* run-server-workflow true
            web-portal/.* run-web-portal-workflow true
          base-revision: main
          config-path: .circleci/continue-config.yml
          context: slack-secrets
          post-steps:
            - slack/notify:
                event: pass
                channel: circleci-builds
                template: success_tagged_deploy_1
                custom: |
                  {
                    "blocks": [
                      {
                        "type": "header",
                        "text": {
                          "type": "plain_text",
                          "text": "üîç Path Filter Check Complete",
                          "emoji": true
                        }
                      },
                      {
                        "type": "section",
                        "fields": [
                          {
                            "type": "mrkdwn",
                            "text": "*Branch:* $CIRCLE_BRANCH"
                          },
                          {
                            "type": "mrkdwn",
                            "text": "*Build:* $CIRCLE_BUILD_NUM"
                          }
                        ]
                      },
                      {
                        "type": "section",
                        "text": {
                          "type": "mrkdwn",
                          "text": "Checking for changes in:\n‚Ä¢ Server code\n‚Ä¢ Web Portal code"
                        }
                      }
                    ]
                  }
            - slack/notify:
                event: fail
                channel: circleci-builds
                template: basic_fail_1
                custom: |
                  {
                    "blocks": [
                      {
                        "type": "header",
                        "text": {
                          "type": "plain_text",
                          "text": "‚ùå Path Filter Check Failed",
                          "emoji": true
                        }
                      },
                      {
                        "type": "section",
                        "fields": [
                          {
                            "type": "mrkdwn",
                            "text": "*Branch:* $CIRCLE_BRANCH"
                          },
                          {
                            "type": "mrkdwn",
                            "text": "*Build:* $CIRCLE_BUILD_NUM"
                          }
                        ]
                      }
                    ]
                  }

add slack messaging to the initial job
  .circleci/config.yml
Due: none

test circleci
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

test circleci config updates
  .circleci/config.yml
  .circleci/continue-config.yml
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

test circleci config updates
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

test circleci config to run server CI
  server/src/index.js
Due: run-server-workflow

test circleci config to run server CI
  .circleci/config.yml
  .circleci/continue-config.yml
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

add scp to remote server
  .circleci/config.yml
  .circleci/continue-config.yml
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

debug ssh copy process
  .circleci/continue-config.yml
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

update node version
  .circleci/continue-config.yml
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

debug node errors
  .circleci/continue-config.yml
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

add docker configs
  .circleci/continue-config.yml
  .gitignore
  server/.gitignore
  server/Dockerfile
  server/docker-compose.yml
  server/src/index.js
  web-portal/.gitignore
  web-portal/Dockerfile
  web-portal/docker-compose.yml
  web-portal/nginx.conf
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

debug build failures
  server/src/index.js
  web-portal/Dockerfile
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

update server babel conf file name
  .circleci/continue-config.yml
  server/.babelrc
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

downgrade vite and react
  package-lock.json
  web-portal/Dockerfile
  web-portal/package.json
  web-portal/src/main.jsx
  web-portal/vitest.config.js
Due: run-web-portal-workflow

debugging ci failures
  server/.babelrc
  server/Dockerfile
  server/package.json
  server/src/index.js
  web-portal/Dockerfile
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

more changes to try and fix ci build errors
  .circleci/continue-config.yml
  package-lock.json
  server/Dockerfile
  web-portal/Dockerfile
Due: run-server-workflow, run-web-portal-workflow

more changes to try and fix ci build errors
  .circleci/continue-config.yml
  server/.dockerignore
  server/src/index.js
  web-portal/.dockerignore
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

more changes to try and fix ci build errors
  .circleci/continue-config.yml
  .gitignore
  server/.env.example
  server/.gitignore
  web-portal/.env.example
  web-portal/.gitignore
Due: run-server-workflow, run-web-portal-workflow

bump versions
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

update ci config to detect all changes in each folder
  .circleci/config.yml
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

revert config path parsing
  .circleci/config.yml
  server/src/index.js
  web-portal/src/main.jsx
Due: run-server-workflow, run-web-portal-workflow

revert continue-config
  .circleci/continue-config.yml
  server/src/index.js
Due: run-server-workflow

add prepare environment
  .circleci/continue-config.yml
  server/src/index.js
Due: run-server-workflow

update handling of .env files
  server/Dockerfile
  server/src/index.js
Due: run-server-workflow
